body{
    height: 100vh;
    background-image: linear-gradient(#009688 15%, #D9DBD4 15%);
}

img{
    height: 50px;
    width: 50px;
    border-radius: 80px;
}

#root{
   height: 100vh;
}

#root .container{
    height: 90vh;
}
.col{
    background-color: white;
    padding: 0;
}

#header-contact{
    background-color:   #EAEAEA ;
    
}

#header-chat{
    flex-shrink: 1;
}

#main-chat{
    height: calc(100% - 155px);
    background-image: url(/img/mine.jpg);
    overflow-y: scroll;
    flex-grow: 1;

}

#footer-chat{
    height: 80px;
    flex-shrink: 1;
}

.navbar{
    border-right: 1px solid lightgray;
}

.navbar-collapse{
    width: 100%;
}

.nav-link{
    padding: 0;
}

.jumbotron{
    background-color: #8EDAFC;
}

.jumbotron a{
    color: grey;
}

.alert{
    width: 100%;
}

a .fa-bell-slash{
    color: #8EDAFC;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#main-contact{
    width: 100%;
    overflow: auto;
    padding: 0;
}

.contact{
  height: 80px; 
}

.contact:hover{
    background-color: #E9EBEB;
}

.info{
    width: 70%;
}

.info-secondary{
    font-size: 12px;
}

.time{
    align-self: self-start;
    justify-items: end;
}

.input-chat{
    width: 85%
}

.emoticon{
    font-size: 23px;
    color: #08E26A;
}

.input-chat{
    border: 1px solid lightgray;
    padding: 5px;
}

.message-container{
    display: flex;
}

.message-container.sent{
    justify-content: flex-end;
}

.message-container.received{
    justify-content: flex-start;
}

.message-container.sent .message{
    background-color: #D5F9BA;
}

.message-container.received .message{
    background-color: white;
}

.message-container .message p{
    margin-bottom: 0;
}

.message-container .message time{
    display: block;
    text-align: right;
    font-size: 11px;
    color: lightgray
}

